provider "aws" {
  alias  = "primary"
  region = "eu-west-1"
  profile = "name of aws-cli profile"
}

default_tags {
  tags = {
    Project     = var.project_name
    Environment = var.environment
    ManagedBy   = "Terraform"
    CreatedBy   = "setup-script"
  }
}

# provider "aws" {
#   alias  = "secondary alias name"
#   region = "secondary region"
#   profile = "name of aws-cli profile"
# }

# provider "other-provider" {
#   alias  = "alias name"
#   region = "region"
#   profile = "profile name"
# }